body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#slash {
    width: 1694px;
    height: 962px;
    border: 1px solid #CA0D43;
    background: #CA0D43;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: skewY(16deg) translate(-339px,-673px);
    z-index: -1;
}

#signUpSlash {
    width: 547px;
    height: 298px;
    border: 1px solid #CA0D43;
    background: #CA0D43;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: skewY(36deg) translate(0,580px);
    z-index: -1;
}

h1 {
    display: inline-block;
    color: #CA0D43;
    font-size: 3em;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*====HOME PAGE====*/

.display-images {
    display: inline-block;
}

#first-image {
    width: 400px;
    height: auto;
    transform: translate(566px,-61px);
}

#second-image {
    width: 400px;
    height: auto;
    transform: translate(90px,40px);
}

.button {
    position: absolute;
    right: 0;
    padding: 10px;
    background: #CA0D43;
    color: white;
    border: 1px solid #CA0D43;
    margin-top: 80px;
    margin-right: 170px;
    display: block;
}

/*====SIGNUP PAGE====*/


#cta {
    width: 418px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#sign-up,
#sign-in {
    padding: 10px 40px;
    background: #CA0D43;
    color: white;
    border: 1px solid #CA0D43;
    border-radius: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
    float: right;
}

form p {
    display: inline-block;
    margin-top: 0;
    text-align: right;
}

span {
    color: #CA0D43;
    margin-left: 50px;
    font-weight: bold;
    text-align: right;
}

.textFields {
    margin-bottom: 0 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #CA0D43 !important;
  }
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #CA0D43 !important;
  }
  /* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #CA0D43 !important;
    box-shadow: 0 1px 0 0 #CA0D43 !important;
  }

aside {
    float: right;
}

.undrawImage1,.undrawImage2 {
    float: right;
    width: 321px;
    height: 296px;
}

.undrawImage1 {
    display: none;
}

aside h4 {
    margin-top: 340px;
    text-align: right;
    color: #CA0D43;
    font-weight: 600;
}

#form1 {
    display: none;
}

#form2 {
    margin-top: 100px;
}